<a href="https://colab.research.google.com/github/Melquicedec-Aguilar/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinámico
escuela = 'FES Aragón'

In [3]:
escuela = 'Fes Aragón'
print(escuela)
print('==================')
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es
una
frase
de multiples líneas
y también es
un tipo de dato
"""
print(frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

Fes Aragón
==================

Esta es
una
frase
de multiples líneas
y también es
un tipo de dato

# Print
con comas ,

con signo mas +

con format ()

con el operador f""

In [4]:
# la coma agrega un espacio
print(nombre, edad)

jose 13

In [8]:
# el + concatena cadena y no agrega un espacio
print(nombre + str(edad))
print(nombre + nombre_completo)

jose13
josejose sosa cardenas

In [15]:
# con format () -> Su nombre es Jose y su edad es de 13 años.
# podemos imprimir dandole argumentos 
print("Su nombre es",nombre,"y su edad es de",edad,'años.')
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad))
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad))
print("Su nombre es {} y su edad es de {} años.".format(nombre, edad))

Su nombre es jose y su edad es de 13 años.
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.
Su nombre es jose y su edad es de 13 años.

In [17]:
# con formato con el operador f""

print (f"Su nombre es \"{nombre}\" y su edad es de {edad} años.")

Su nombre es "jose" y su edad es de 13 años.

# Carácter de escape
\n salto de línea

\t tabulador

\a beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [20]:
"""
Esto es 
un comentario
de multiple línea
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

# Ayuda de tipos de datos en python
dir()

help()

In [ ]:
# str, int, float, boolean, list, dict, set
# ver los métodos 
help(str)

In [28]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS----Jose Sosa Cardenas

In [ ]:
help(print)

# clase String 
Es manejada como un arreglo(c o java) o lista (python)

telefono = "Huawei mate 30 pro" 

print(telefono[0])

In [29]:
telefono = "Huawei mate 30 pro"
print(telefono[0])

H

# Slicing (rebanado)
[inicio:stop:incremento]

nota: el stop no se incluye, termina en el valor anterior al stop

In [40]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales 
print(telefono[:11:])
# el valor por defecto de stop es len(str)
print(telefono[::])
#incremento nedativo
print(telefono[::-1])
ini = -3
inc = 1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# métods de string (str)
Existen métodos muy útiles en esta clase.

In [61]:
facultad = "    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count(" "))#cuenta los espacios que hay
print(facultad.find("s"))# te imprime la posicion de letra de la primera coincidencia 
print(facultad.strip())#remueve los espacios en blanco del inicio y final 
print(f"El tamaño de la cadena es de {len(facultad)} caracteres")
print(facultad)
print(facultad.strip().split(" "))

print("-----------------------------------------------------------------")
#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
facultad = "FES Aragón"

#copiar listas
colores = ['rojo','verde']
otra = colores.copy()
print(colores)
print(otra)
otra.append('rosa')
print(colores)
print(otra)

    facultad de estudios superiores aragon

14
17
facultad de estudios superiores aragon
El tamaño de la cadena es de 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
-----------------------------------------------------------------
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']